<!-- • Bitcoin mechanism Elixir & Phoenix web framework 
◦ Built the complete bitcoin framework with a minimum threshold limit 
for mining bitcoins. The transactions are programmed be done randomly 
by taking input through front end developed in Phoenix framework. 
• Most popular word in real time data C++ ◦ Implemented the complete 
structure of optimal Fibonacci heap to give the requested number of most
 popular keywords at any time in real time data. It ran eﬃciently for a 
 test set data of a million records in 2.18 seconds. • Campus Safety 
 System Python & MySQL ◦ Built a website to analyze the safety of 
 students around campus premises by collecting data which takes into 
 factor around 200 diﬀerent crimes. Anyone can access the website and
  apply various filters to compare between colleges which is depicted 
  in different kinds of graphs. • Network Topologies Elixir ◦ Built 
  vaious network topologies like Line, Full, 2-D, 3-D, Torus and 
  compared their runtime of reachability with Gossip and Push-sum 
  protocols. -->
  <div class="container">
    <div  class="row">
      <div style="margin-top:40px" class="col">
          <mdb-carousel [animation]="'slide'">
              <mdb-carousel-item>
                <img class="d-block w-100" src="./assets/blockchain.jpg" alt="First slide">
              </mdb-carousel-item>
              <!-- <mdb-carousel-item>
                <img class="d-block w-100" src="./assets/a2.jpg" alt="Second slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="./assets/a3.jpg" alt="Third slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                  <img class="d-block w-100" src="./assets/a4.jpg" alt="Forth slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <img class="d-block w-100" src="./assets/a5.jpg" alt="Fifth slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <img class="d-block w-100" src="./assets/a6.jpg" alt="Sixth slide">
                </mdb-carousel-item> -->
            </mdb-carousel>
      </div>
      <div style="margin-top:40px"class="col-7">
        
          <p>
              <strong>Bitcoin mechanism Elixir & Phoenix web framework </strong>   
              <br>
                ◦Built the complete bitcoin framework with a minimum threshold limit 
                    for mining &nbsp;&nbsp;bitcoins. The transactions are programmed be done randomly 
                    by taking input through &nbsp;&nbsp;&nbsp;front end developed in Phoenix framework. 
                    <br>
                ◦ The project can be found <a href="https://github.com/Krissh97/Bitcoin-mechanism-Phoenix-">here</a>
                    
              <!-- ◦ Interned at Amazon with <b>AWS DMS (Database Migration Service)</b> team, where
               I’ve developed a connector which enabled the support for Migration of data to MSK
                which is an Apache Kafka service that is managed by AWS. <br>
              ◦ Wrote the code for control plane changes in JAVA to create a Kafka 
              endpoint with deﬁned settings and connect to it via AWS DMS console. <br>
              ◦ For the data plane changes, I’ve searched for a dependable open source library to 
              communicate with Kafka in C language and reused the code to unload data from various 
              databases which was already in place and wrote the code to convert the data into JSON 
              format and added the required metadata and then push the data to a speciﬁed Kafka topic. <br>
              ◦ Tested code by creating data in various databases and sent the data to an Apache kafka 
              and then tested it with MSK by overcoming security issues. <br>
              ◦ Wrote the code for data to be sent either in Full-load mode where all the pre-existing 
              data is pushed and connection ends or in CDC mode which captures any changes on source database in real time and keeps pushing
               data until the connection is closed.<br>
              ◦ Tools : JAVA, C, Apache kafka, MSK, Kinesis, Dynamo DB, Oracle, MySQL, VPC, EC2, RDS, Unit testing, debugging using gdb, TablePlus, Amazon Corretto, S3 -->

          </p>
      </div>
    </div>
    <hr class="rounded">
    <div class="row">
      <div style="margin-top:40px;margin-bottom:40px" class="col">
        <mdb-carousel [animation]="'slide'">
          <mdb-carousel-item>
            <img class="d-block w-100" src="./assets/network-topologies.jpg" alt="First slide">
          </mdb-carousel-item>
          <!-- <mdb-carousel-item>
            <img class="d-block w-100" src="./assets/a2.jpg" alt="Second slide">
          </mdb-carousel-item> -->
          
        </mdb-carousel>
      </div>
      <div style="margin-top:40px;margin-bottom:40px"class="col-7">
          <p>
            Built vaious network topologies like Line, Full, 2-D, 3-D, 
            Torus and compared their runtime of reachability with Gossip and Push-sum protocols.
          </p>
      </div>
    </div>
</div>